h1 {
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  color: #3a54a4;
}

h2 {
  font-family: sans-serif;
  font-weight: bolder;
  text-align: center;
  color: #3399ff;
}

h3 {
  font-family: sans-serif;
  font-weight: bolder;
}

h4 {
  font-family: sans-serif;
  font-weight: bold;
  font-style: italic;
}

p {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
}

ul {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
}

ol {
  font-family: sans-serif;
  font-size: 15px;
  line-height: 25px;
}
